<% content_for :title do %>About<% end %>
<h3>About Alex Salom</h3>
<p>Alex Salom is a professional iOS developer who first started coding for the Apple world back in the summer of 2010, using as an excuse an Erasmus program at the Technical University of Istanbul. There he did his graduation project and chose to do an App for the iPhone that was a location based chat. Users around the world would login into the App and were able to see only the people that were physically near them. This project gave Alex Salom a ten with honors, which turned him into a Computer Engineer.</p>
<p>His favorite quotation is:</p>
<p>while(!success) try()</p>